.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
}

.logo img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.logo span {
  margin-left: 0;
  color: var(--text);
}
